<div class="form-group">
    <div>
        <label class="required">Bers</label>
        <div id="pmm_labobundle_bulletin_bers" data-prototype="&lt;div&gt;&lt;label for=&quot;pmm_labobundle_bulletin_bers___name___value&quot;&gt;Value&lt;/label&gt;&lt;input type=&quot;text&quot; id=&quot;pmm_labobundle_bulletin_bers___name___value&quot; name=&quot;pmm_labobundle_bulletin[bers][__name__][value]&quot; /&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;">
            <div>
                <label class="required">0</label>
                <div id="pmm_labobundle_bulletin_bers_0">                    
                    <div>
                        <label for="pmm_labobundle_bulletin_bers_0_value">Value</label>
                        <input type="text" id="pmm_labobundle_bulletin_bers_0_value" name="pmm_labobundle_bulletin[bers][0][value]" value="0" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>