{# (couche 3) #}

{% extends "PMMCoreBundle::layout.html.twig" %}

{% block title %}
	Ajouter un examen - {{ parent() }}
{% endblock %}

{% block title2 %}Enregistrement d'un nouvel examen{% endblock %}

{% block menu %}

	<ul class="nav nav-pills nav-stacked">
        <a href="{{ path('pmm_labo_homepage') }}" class="btn btn-primary btn-primary">
            <span class="glyphicon glyphicon-chevron-left"></span> Retour à l'accueil </a><p>  </p>
	</ul>

{% endblock %}

{% block body %}

	{{ include("PMMLaboBundle:Examen:form.html.twig") }}
	
{% endblock %}